<div class="d-flex align-items-end justify-content-center" style="height: 400px">
    <h1>Welcome to Finance Manager</h1>
</div>
<% if user_signed_in? %>
    <form class="form-inline d-flex align-items-center justify-content-center">
        <div style="padding-left: 10px;">
            <%= link_to 'Incomes', incomes_path, class: "btn btn-outline-info" %>
        </div>
        <div style="padding-left: 10px;">
            <%= link_to 'Expenses', expenses_path, class: "btn btn-outline-success" %>
        </div>
        <div style="padding-left: 10px;">
            <%= link_to 'Categories', categories_path, class: "btn btn-outline-primary" %>
        </div>
        <div style="padding-left: 10px;">
            <%= link_to 'Generate Report', reports_path, class: "btn btn-outline-warning" %>
        </div>
    </form>
<% else %>
    <form class="form-inline d-flex align-items-center justify-content-center">
        <div style="padding-left: 10px;">
            <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-info" %>
        </div>
        <div style="padding-left: 10px;">
            <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-success" %>
        </div>
<% end %>
