<%= form_with(model: income) do |form| %>
  <% if income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
        <% income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group row">
    <div class="col-sm-1 col-form-label">
      <%= form.label :category_id %>
      </div>
      <div class="col-sm-3">
      <%= form.select(:category_id, options_from_collection_for_select(Category.all, :id, :name), { :prompt => 'Select a Category' }, { class: 'form-control' }) %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1 col-form-label">
      <%= form.label :amount %>
      </div>
      <div class="col-sm-3">
      <%= form.number_field :amount, min: 0, class: "form-control", placeholder: "1, 25.5, 100, etc." %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1 col-form-label">
      <%= form.label :date %>
      </div>
      <div class="col-sm-3">
      <%= form.text_field :date, class: 'form-control flatpickr', placeholder: "Select a Date" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-1 col-form-label">
      <%= form.label :description %>
      </div>
      <div class="col-sm-3">
      <%= form.text_field :description, class: "form-control", placeholder: "Salary, Ebay, Sales, etc." %>
      </div>
    </div>

    <div class="form-group">
      <div class="row col-sm-3">
      <%= form.submit "Save", class: "btn btn-outline-success" %>
      </div>
    </div>
  </form>
<% end %>
