<div class="container">

<h1>Incomes</h1>

<div class="form-group">
<%= link_to 'New Income', new_income_path, class: "btn btn-outline-info" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.incomes.each do |income| %>
      <tr>
        <td class="align-middle"><%= income.category %></td>
        <td class="align-middle"><%= income.amount %></td>
        <td class="align-middle"><%= income.date %></td>
        <td class="align-middle "><%= income.description %></td>
        <td><%= link_to 'Show', income, class: "btn btn-outline-info" %>
        <%= link_to 'Edit', edit_income_path(income), class: "btn btn-outline-success" %>
        <%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>