<% @hash_var.any? do %>
<div class="form-group row">
      <div class="col-sm-3">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <th>Category</th>
            <th>Gained</th>
          </thead>
          <tbody>
            <% @hashi_var.each do |category, sum| %>
              <tr>
                <td class="align-middle">
                  <%= category.name %>
                </td>
                <td class="align-middle">
                $<%= sum %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <th>$<%= @totali %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    
    <div>
      <%= pie_chart @income_pie_chart_data, prefix: "$", width: "800px", height: "500px" %>
    </div>
</div>

<%= line_chart @income_line_chart_data, discrete: true, prefix: "$", height: "500px" %>
<figure class="highcharts-figure">
    <div id="container"></div>
    <div id="container1"></div>
    <div id="sliders">
    <table>
      <tbody><tr>
        <td><label for="alpha">Alpha Angle</label></td>
        <td><input id="alpha" type="range" min="0" max="45" value="15"> <span id="alpha-value" class="value"></span></td>
      </tr>
      <tr>
        <td><label for="beta">Beta Angle</label></td>
        <td><input id="beta" type="range" min="-45" max="45" value="15"> <span id="beta-value" class="value"></span></td>
      </tr>
      <tr>
        <td><label for="depth">Depth</label></td>
        <td><input id="depth" type="range" min="20" max="100" value="50"> <span id="depth-value" class="value"></span></td>
      </tr>
    </tbody></table>
  </div>
</figure>
<% end %>
<script>
document.addEventListener('turbolinks:load', function () {
        const chart = Highcharts.chart('container', {
    chart: {
        type: 'packedbubble',
        height: '100%'
    },
    title: {
        text: ''
    },
    tooltip: {
        useHTML: true,
        pointFormat: '${point.value}'
    },
    plotOptions: {
        packedbubble: {
            minSize: '30%',
            maxSize: '120%',
            zMin: 0,
            zMax: 1000,
            layoutAlgorithm: {
                splitSeries: false,
                gravitationalConstant: 0.02
            },
            dataLabels: {
                enabled: true,
                format: '{point.name}',
                filter: {
                    property: 'y',
                    operator: '>',
                    value: 250
                },
                style: {
                    color: 'black',
                    textOutline: 'none',
                    fontWeight: 'normal'
                }
            }
        }
    },
    series: <%= raw @series_i %>
      });
    });

  const chart = new Highcharts.Chart({
    chart: {
        renderTo: 'container1',
        type: 'column',
        options3d: {
            enabled: true,
            alpha: 15,
            beta: 15,
            depth: 50,
            viewDistance: 25
        }
    },
    title: {
        text: ' '
    },
    yAxis: {
        title: {
            text: ' '
        }
    },

    xAxis: {
        title: {
            text: ' '
        }
    },
    plotOptions: {
        column: {
            depth: 25
        }
    },
    series: <%= raw @series_i %>
});
  function showValues() {
  document.getElementById('alpha-value').innerHTML = chart.options.chart.options3d.alpha;
  document.getElementById('beta-value').innerHTML = chart.options.chart.options3d.beta;
  document.getElementById('depth-value').innerHTML = chart.options.chart.options3d.depth;
}

// Activate the sliders
document.querySelectorAll('#sliders input').forEach(input => input.addEventListener('input', e => {
  chart.options.chart.options3d[e.target.id] = parseFloat(e.target.value);
  showValues();
  chart.redraw(false);
}));

showValues();
</script>