<p id="notice"><%= notice %></p>

<h1>Reports</h1>
<div class="flexContainer">
<div class="left">
<% if @categories.any? %>
    <table class="table table-striped">
      <thead>
        <th>Category</th>
        <th>Spent</th>
      </thead>
      <tbody>
        <% @expenses.group(:category).each do |expense| %>
        <%= render 'rep', expense: expense %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Total</th>
          <th id="spent-total"><%= Expense.sum(:amount) %></th>
        </tr>
      </tfoot>
    </table>
  <% else %>
    <div>
      You need to create some categories on the Category page prior to setting up Reports.
    </div>
  <% end %>
</div>
<div class="right">
<%= pie_chart Expense.group(:category).sum(:amount) %>
</div>
</div>

<%= line_chart Expense.group_by_day(:date).sum(:amount), prefix: "$" %>

