<p id="notice"><%= notice %></p>

<h1>Reports For <%= @start_date %>..<%= @end_date %></h1>

<%= render 'form' %>

<% if @start_date.nil? || @end_date.nil? %>
<h1>Insert Dates</h1>
<% elsif (@start_date <= @end_date) && (@start_date != '' || @end_date != '') %>
<%= render 'items' %>
<% else %>
<h1>Date is invalid</h1>
<% end %>




