<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<%= form_with(model: @report) do |form| %>
<form>
<div class="form-group row">
    <%= form.text_field :start_date, data: { behaviour: "flatpickr" } %>
    <%= form.text_field :end_date, data: { behaviour: "flatpickr" } %>
    <%= form.submit "Generate", class: "btn btn-info" %>
</div>
</form>
<% end %>



