<!DOCTYPE html>
<html>
  <head>
    <title class="navbar-brand">Finance Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light", style= "background-color: #e4e1d5">
      <div class="container-fluid">
        <form class="d-flex">
        <a class="navbar-brand" href="/">Finance Manager</a>
        <% if user_signed_in? %>
          <div style="padding-left: 10px;">
          <%= link_to 'Incomes', incomes_path, class: "btn btn-outline-info" %>
          </div>
          <div style="padding-left: 10px;">
          <%= link_to 'Expenses', expenses_path, class: "btn btn-outline-success" %>
          </div>
          <div style="padding-left: 10px;">
          <%= link_to 'Categories', categories_path, class: "btn btn-outline-primary" %>
          </div>
          <div style="padding-left: 10px;">
          <%= link_to 'Generate Report', reports_path, class: "btn btn-outline-warning" %>
          </div>
        <% end %>
        </form>
        <form class="d-flex">
        <% if user_signed_in? %>
          <p>Logged in as: <strong><%= current_user.email %></strong>.</p>
          <div style="padding-left: 10px;">
          <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-outline-success" %>
          </div>
          <div style="padding-left: 10px;">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary"  %>
          </div>
        <% else %>
          <div style="padding-left: 10px;">
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-success"  %>
          </div>
          <div style="padding-left: 10px;">
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-info"  %>
          </div>
        <% end %>
        </form>
      </div>
      </nav>
    </header>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
