<!DOCTYPE html>
<html>
  <head>
    <title class="navbar-brand">Finance Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://code.highcharts.com/modules/exporting.js" %>
    <%= javascript_include_tag "https://code.highcharts.com/modules/accessibility.js" %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light", style= "background-color: #e4e1d5">
        <a class="navbar-brand" href="/">Finance Manager</a>
        <form class="form-inline">
          <div style="padding-left: 10px;">
          <%= link_to 'Incomes', incomes_path, class: "btn btn-outline-info" %>
          </div>
          <div style="padding-left: 10px;">
          <%= link_to 'Expenses', expenses_path, class: "btn btn-outline-success" %>
          </div>
          <div style="padding-left: 10px;">
          <%= link_to 'Categories', categories_path, class: "btn btn-outline-primary" %>
          </div>
          <div style="padding-left: 10px;">
          <%= link_to 'Generate Report', reports_path, class: "btn btn-outline-warning" %>
          </div>
        </form>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
