<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Expense Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Expense Tracker" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Expense Tracker</a>
        <form class="form-inline">
          <div style="padding-left: 10px;">
          <%= link_to 'Expenses', expenses_path, class: "btn btn-outline-success" %>
          </div>
          <div style="padding-left: 10px;">
          <%= link_to 'Categories', categories_path, class: "btn btn-outline-primary" %>
          </div>
          <div style="padding-left: 10px;">
          <%= link_to 'Generate Report', new_expense_path, class: "btn btn-outline-warning" %>
          </div>
        </form>
      </nav>
    </header>
    <div class="container position-relative top-50 start-50 translate-middle">
    <%= yield %>
    </div>
  </body>
</html>
